/* colors - see style guide for docs. 
Clearly there is more you could place in variables, up to you if you want to use them. My answer does not go beyond colors to keep the code easier to read. */

:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
}


/* generic site styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DBE5DE;
    padding: 0;
    margin: 0;
}

section {
    
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 1rem;

 
    
}


section h2 {

    font-size: 2.5rem;

}

section ul {
    margin: 0px;
    list-style-type: none;
    padding: 0;
}
ul{
    
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1%;

    
}

figure img {
    margin-bottom: -4px;
    object-fit: cover;
    object-position: 0 -150px;
    width: 100%;


}
figure {

    position: relative;
    padding: 0;
    max-height: 400px;
    overflow: hidden;
    margin: 0 0 0.5rem 0;
    
    


    
}
li {
    
    flex-basis: 32%;
    max-width: 100%;
    
    display: flex;
    padding-bottom: 10px;
    margin: 0;
    

}



figcaption {
    position: absolute;
    background-color: rgba(255,255,255, 0.8) ;
    font-size: 40px;
    margin: 0;
    height: 20%;
    padding:0;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0%;
    width: 100%;
/*     opacity: 0.8; */
}

figcaption a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
   

}


a:link {
      color: black;


    }

#orange_c:hover, 
#orange_c:hover:visited {
    color: #ca6702;
}
#fig-1 {
    
    border: 10px solid #ca6702;
    border-radius: 5px; 

}


#col-2:hover, 
#col-2:hover:visited {

    color: #005F73;
}
#fig-2 {
    
    border: 10px solid #005F73;
    border-radius: 5px; 
}

#col-3:hover, 
#col-3:hover:visited {
    color: #EE9800;

}
#fig-3 {
    border: 10px solid #EE9800;
    border-radius: 5px;  
}
#col-4:hover, 
#col-4:hover:visited {
    color: #BB3E03;
}
#fig-4 { 
    border: 10px solid #BB3E03;
    border-radius: 5px;  
}

#col-5:hover, 
#col-5:hover:visited {
    color: #94d28d;
}

#fig-5 {
    border: 10px solid #94d28d;
    border-radius: 5px;
}

#col-6:hover, 
#col-6:hover:visited {
    color: #3d9397;
}
#fig-6 {
    border: 10px solid #3d9397;
    border-radius: 5px;

}


a:visited {
      color: black;
      
}
#orange {
    
    padding: 0px;

    

}


img {
    width: 100%;
    
    margin-bottom: -4px;

    
    
    
}


/* Initial mobile layout: a series of images stacked on top of each other with the figure caption over the image. */


/* At this breakpoint, transition to 2 figures per line */

@media (min-width: 550px) {

    section ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section li {
        flex-basis: 49.5%;
    }

    figure img {
        object-position:0;
    }
}
/* At this breakpoint, transition to 3 figures per line */

@media (min-width: 800px) {
    section ul {
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }
    section h2 {
        margin-left: 100px;
    }
    section li {
        flex-basis: 32.5%;
    }
}




